.section {
    background-color: whitesmoke;
}

.capability-card div {
    margin-bottom: 12px;
    margin-top: 12px;
}
.capability-card header, .capability-card h1, .capability-card h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}
header {
    padding-left: 12px;
}

.card-content {
    padding-top: 6px;
}

article {
    margin-top: 24px !important;
}

.resource .url, .resource .parameters, .resource .relations, .resource .attributes {
    margin-left: 12px
}

#dicotopo-docs-app {
    font-family: 'Lucida Grande', Arial, sans-serif;
}
#dicotopo-docs-app a:hover {
    text-decoration: underline;
        color: #0095C4;
}
#dicotopo-docs-app a:visited {
    color: #00608f;
    text-decoration: none;
}

#docs-aside {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 52px;
    left: 0;
    background-color: #eeeeee;
    overflow-x: hidden;
    padding-top: 20px;

    line-height: 130%;
    border-right: 12px solid rgb(204, 204, 204);
}
#docs-endpoints {

}
#docs-aside a {
    padding: 6px 8px 6px 0px;
    font-size: smaller;
    color: #444444;
    display: block;
        line-height: 100%;
}


#docs-aside h1{
    margin: 1.5em 0 0.2em;
    color: #444444;
    font-size: 1.4em;
    font-weight: normal;
    padding: 0;
}

#docs-aside ul{
    list-style: square;
}
#docs-aside li {
    margin-left: 2.5em;
}

#docs-main {
    margin-left: 220px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

#docs-main > h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: normal;
    color: #444444;
}