{% extends 'base.html' %}

    {% block head_scripts %}

    {% endblock head_scripts %}

{% block content %}

    <section class="section">
        <div class="container is-fluid">
            <div id="viewer-intro">
                <h1 class="title is-primary">Lorem ipsum dolor sit amet</h1>
                <p>
                  Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                </p>
            </div>

            <!-- react app config -->
            <input type="hidden" id="enable-placename-map"/>
            <input type="hidden" id="placename-collection-endpoint" value="{{url_for('api_bp.placenames_collection_endpoint')}}"/>
            <input type="hidden" id="enable-placename-card"/>
            <input type="hidden" id="placename-endpoint" value="{{url_for('api_bp.placenames_single_obj_endpoint', id='ID_PLACEHOLDER')}}"/>
            <!-- react components -->

            <div id="dicotopo-app"></div>

        </div>
    </section>

    <script src="{{ url_for('app_bp.static', filename='js/index.bundle.js') }}"></script>

{% endblock content %}


{% block scripts %}


<script type="text/javascript">


    function go() {
         /*
        const map = L.map(
            "viewerDiv", {
                preferCanvas : true
            }).setView([48.845, 2.424], 5);

        const lyrOSM= L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png?') ;

        const lyrOrtho = L.geoportalLayer.WMTS({
            layer: "ORTHOIMAGERY.ORTHOPHOTOS",
        });

        const lyrMaps = L.geoportalLayer.WMTS({
            layer: "GEOGRAPHICALGRIDSYSTEMS.MAPS",
        }, { // leafletParams
            opacity: 0.7
        });


        //map.addLayer(lyrOrtho);
        map.addLayer(lyrOSM) ;
        //map.addLayer(lyrMaps) ;
        const layerSwitcher = L.geoportalControl.LayerSwitcher({
            layers : [{
                layer : lyrOSM,
                config : {
                    title : "OSM",
                    description : "Couche Open Street Maps"
                }
            }]
        });
        map.addControl(layerSwitcher);
        Gp.Services.getConfig({
            apiKey : "ld0jgrlpaway88fw6u4x3h38",
            onSuccess : go
        }) ;

  */
        //load_placename_markers(window.API_ENDPOINTS, map, "placename-card", "placename-compact-cards");
    }


</script>
{% endblock scripts %}