{% extends 'base.html' %}

    {% block head_scripts %}

    {% endblock head_scripts %}

{% block content %}

    <section id="main-section">
        <div class="">
            <!-- react app config -->
            <input type="hidden" id="enable-placename-map"/>
            <input type="hidden" id="enable-placename-card"/>
            <!-- react components -->
            <div id="dicotopo-app"></div>

        </div>
    </section>

    <script src="{{ url_for('app_bp.static', filename='js/index.bundle.js') }}"></script>

{% endblock content %}


{% block scripts %}


<script type="text/javascript">


         /*
        const map = L.map(
            "viewerDiv", {
                preferCanvas : true
            }).setView([48.845, 2.424], 5);

        const lyrOSM= L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png?') ;

        const lyrOrtho = L.geoportalLayer.WMTS({
            layer: "ORTHOIMAGERY.ORTHOPHOTOS",
        });

        const lyrMaps = L.geoportalLayer.WMTS({
            layer: "GEOGRAPHICALGRIDSYSTEMS.MAPS",
        }, { // leafletParams
            opacity: 0.7
        });


        //map.addLayer(lyrOrtho);
        map.addLayer(lyrOSM) ;
        //map.addLayer(lyrMaps) ;
        const layerSwitcher = L.geoportalControl.LayerSwitcher({
            layers : [{
                layer : lyrOSM,
                config : {
                    title : "OSM",
                    description : "Couche Open Street Maps"
                }
            }]
        });
        map.addControl(layerSwitcher);
        Gp.Services.getConfig({
            apiKey : "ld0jgrlpaway88fw6u4x3h38",
            onSuccess : go
        }) ;

  */
        //load_placename_markers(window.API_ENDPOINTS, map, "placename-card", "placename-compact-cards");



</script>
{% endblock scripts %}