p:first-letter {
  text-transform: capitalize;
}

.centered-section {
  margin: auto;
  width: 80%;
}

#placenames {
  margin-top: 20px;
}

.dict-placename.card-header {
  box-shadow: none;
}

.content:first-letter {
  text-transform: capitalize;
}

.main-container {
  margin-top: 40px;
}

.title {
  font-family: 'Bitter', serif;
}

.website-title {
  font-family: 'Bitter', serif;
  font-size: 1.5em;
}

.pagination {
  border: none;
  margin-top: 40px;
}

.pagination a {
  margin-left: 4px;
  margin-right: 4px;
}

#num-page {
  margin-left: 8px;
  height: 24px;
  width: 50px;
}

.navbar {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
}

.intro-container {
  width: auto;
  margin-bottom: 60px;
}

#placename-commentaire {
  margin-top: 8px;
}

#placename-old-labels {
}

#placename-old-labels ul {
  list-style-type: '\002011';
}

#placename-old-labels li {
  padding-left: 8px;
}

#placename-old-labels li:first-letter {
  text-transform: capitalize;
}

#placename-card {
    border-radius: 6px;
}
#placename-card .has-text-grey-light{
    font-weight: bold;
}

#placename-compact-cards {
    margin-top: 12px;
}
.placename-compact-card span {
    padding: 6px;
}
.placename-compact-card .description {
    border-left: 1px solid gainsboro;
}

#viewer-intro {
    margin-bottom: 40px;
}

.placename-compact-card .card:last-child {
    border-radius: unset unset 6px 6px;
}
#linked-placenames-card {
    border-radius: 6px 6px unset unset;
}